#container {
    margin: 20px;
}
#container::before {
    content: "Before Element ";
    color: rgb(255, 0, 0); /* Set the color to red (rgb(255, 0, 0)) */
    font-size: 20px;
}
#container::after {
    content: "After Element";
    color: rgb(255, 0, 0); /* Set the color to red (rgb(255, 0, 0)) */
    font-size: 20px;
}